{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock css %}

{% block title %}
  change password
{% endblock title %}

{% block main %}
<div class="change_div">
  <h1>
    <img src="{% static 'img/pad_lock.jpg' %}" alt="pad-lock">
     &nbsp;
     Change password
  </h1>

  <div>
    <form class="change_form" method="POST">
      {% csrf_token %}
      <div>
        <input type="password" name="old_password" placeholder="Enter old password" minlength="8" required>
        {% if form.old_password.errors %}
          <div class="error">{{form.old_password.errors}}</div>
        {% endif %}
        <input type="password" name="new_password1" placeholder="Enter new password" minlength="8" required>
        <input type="password" name="new_password2" placeholder="Enter new password (confirm)" minlength="8" required>
        {% if form.new_password2.errors %}
          <div class="error">
            <small>{{form.new_password2.errors}}</small>
          </div>
          <div class="warn">
            <small>
              Password should not be similar to your account information, with a min-length of 8 character and avoid using numeric password entirely. Include symbols to make it strong like (?/@.^*) etc.
            </small>
          </div>
        {% endif %}
      </div>
      
      <button type="submit">Change password</button>
    </form>
    
    <p class="forgot">
      <span>Did you forgot your password?</span> &nbsp; &nbsp; <a href="#">Yes</a>
    </p>
  </div>

</div>
{% endblock main %}