{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block title %}
  {{view_user.first_name}} {{view_user.last_name}} iRatio
{% endblock title %}

{% block main %}
  <div class="sub_head">
    <img src="{{user.image.url}}" alt="user-img">
    <h1>iRatio calculator</h1>
    <a href="{% url 'iratio' request.user request.user.id %}">My iRatio</a>
  </div>

  <div class="profile_update">
    <form method="POST" class="form" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="i_div">
        <input type="text" name="first" placeholder="Value 1" required>
        {% if form.first.errors %}
          <div class="error">{{form.first.errors}}</div>
        {% endif %}
        {{form.operator}}
        <input type="text" name="second" placeholder="Value 2" required>
        {% if form.second.errors %}
          <div class="error">{{form.second.errors}}</div>
        {% endif %}
      </div>

      <button type="submit" class="form_submit">Compute</button>
    </form>
  </div>
{% endblock main %}